<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <div class="form-group">
            <input class="form-control" type="file"   name="nombre" />
             <br />
            <input class="form-control" type="submit" name="mike" value="Upload to Amazon S3" />
        </div>
    </form>
</body>
</html>